.default-btn {
  height: 5.2rem;
  padding: 1rem 2.8rem;
  border: 0.2rem solid $accent;
  border-radius: 0.8rem;
  background: $accent;
  transition: 0.3s;
  font-size: 1.6rem;
  font-weight: 500;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @include hover {
    opacity: 0.9;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  &.sm {
    height: 4.8rem;
    padding: 1rem 3.2rem;
  }

  &.light {
    background-color: $light-3;
    color: $black-text;
    border-color: $light-3;
  }
}
