---
import { Sprite } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Footer from "../modules/Footer/Footer.astro";
import Header from "../modules/Header/Header.astro";
import type { ICartItem } from "../assets/scripts/interfaces";
import CartItem from "../components/CartItem/CartItem.astro";

const itemsList: ICartItem[] = [
  {
    name: "Пепельница для курения, коллекционная",
    image: "./img/prod/prod-7.png",
    price: 1250,
    discount: 10,
  },
  {
    name: "Игрушка антистресс, электронный поп ит",
    image: "./img/prod/prod-11.png",
    price: 2500,
  },
];
---

<Layout nav={false}>
  <Header min={true} />

  <section class="cart">
    <div class="container">
      <form action="#" class="cart__wrapper">
        <div class="cart__container">
          <div class="cart__head">
            <h1 class="cart__title">Корзина</h1>
            <button type="button" class="cart__reset">
              <Sprite name="fi_trash" />
               Очистить корзину
            </button>
          </div>

          <div class="cart__list">
            {itemsList.map((item) => <CartItem item={item} />)}
          </div>
        </div>

        <div class="cart-info"></div>
      </form>
    </div>
  </section>

  <Footer min={true} />
</Layout>
