---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Главная страница">
  <div
    style="display: flex; flex-direction: column; align-items: flex-start; gap: 5rem; padding: 5rem;"
  >
    <a href="./main.html">Main</a>
  </div>
</Layout>
