.product-info {
  margin-bottom: 6.4rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &-btns {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 3.2rem;
    border-bottom: 0.1rem solid $light-3;
    position: relative;

    &__dash {
      width: 0;
      border: 0.1rem solid $accent;
      border-radius: 0.1rem;
      position: absolute;
      bottom: -0.1rem;
      left: 0;
      transition: 0.5s;
    }

    &__btn {
      padding-bottom: 1.6rem;
      border-bottom: 0.1rem solid transparent;
      color: $gray-3;
      transition: 0.3s;
      @include hover {
        border-color: $gray-1;
      }
    }
  }

  &__swiper {
    width: 100%;

    .swiper-slide {
      background-color: $white;
    }
  }

  &-item {
    .dropdown {
      &-btn {
        display: none;
      }

      &__container {
        width: 100%;
        max-height: unset;
        position: static;
        display: block;
        opacity: 1;
        pointer-events: all;
        box-shadow: none;
        background-color: transparent;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &-spec {
    width: 100%;

    tbody {
    }

    tr {
      border-bottom: 0.1rem solid $light-3;

      &:first-child {
        td {
          padding-top: 0;
        }
      }
    }

    td {
      padding: 3.2rem;

      &:first-child {
        padding-right: 0;
      }

      &:last-child {
        padding-left: 0;
      }
    }
  }
}
