a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $dark-1;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 11rem;

  @include breakpoint($xm-bp) {
    padding-left: 0;
  }
}

.container {
  padding: 0rem 3.2rem;
  width: 100%;
}
